@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #ffffff;
    padding: 20px;
}

header > h1 {
    color: #24272e;
    text-align: center;
    font-family: 'Baloo Tammudu 2', cursive;
}

body {
    background-color: #24272e;
}