@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

title{
    background-color: #060f22;
}

body {

    background-color: #060f22;

}

header {
    background: #ffffff;
    padding: 20px;
}

header:hover {
    background-color: #060f22;
}

header > h1 {
    color: #060f22;
    text-align: center;
    font-family: 'Baloo Tammudu 2', cursive;
}

header > h1:hover {
    color: white;
}

p {
    color: whitesmoke;
    text-align: center;
    font-size: xx-large;
    font-family: 'Baloo Tammudu 2', cursive;
}

.score-board {
    margin: 20px auto;
    border: 3px solid white;
    border-radius: 5px;
    text-align: center;
    width: 200px;
    padding: 15px 20px;
    color: white;
    font-size: 46px;
    font-family: 'Baloo Tammudu 2', cursive;
    position: relative;
}

.badge {
    background-color: #e2584d;
    font-size: 13px;
    padding: 5px 8px;
    font-family: 'Baloo Tammudu 2', cursive;
}

#user-label {
    position: absolute;
    top: 50px;
    left: -25px;
}

#computer-label {
    position: absolute;
    top: 50px;
    right: -25px;
}

.result {
    font-size: 40px;
    color: white;
}

.result > p {
    text-align: center;
    font-family: 'Baloo Tammudu 2', cursive;
    font-weight: bold;
}

.choices {
    display: flex;
    justify-content: space-evenly;
    transition: all 0.9s ease;
}

.choice:hover {
    cursor: pointer;
    background: #080114;
}









