@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #24272e;
}

header {
    background: #ffffff;
    padding: 20px;
}

header > h1 {
    color: #24272e;
    text-align: center;
    font-family: 'Baloo Tammudu 2', cursive;
}

.score-board {
    border: 3px solid white;
    border-radius: 5px;
    width: 200px;
    margin: 20px auto;
    padding: 15px 20px;
    color: white;
    font-size: 46px;
    text-align: center;
    font-family: 'Baloo Tammudu 2', cursive;
}
